.PopupWithForm__close {
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 0;
  right: -46px;
  top: -46px;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  background-image: url('../../../../images/close.png');
}

.PopupWithForm__close:hover {
  opacity: 0.6;
}

@media (max-width: 610px) {
  .PopupWithForm__close {
    position: fixed;
    right: 8px;
    top: 8px;
  }
}

@media (max-width: 430px) {
  .PopupWithForm__close {
    position: absolute;
    right: 8px;
    top: -48px;
  }
}