.TooltipPopup__container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 43px 36px 51px;
  margin: auto;
  margin-bottom: 33vh;
  max-width: 358px;
  max-height: 182px;
  z-index: 2;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
}

@media (max-width: 400px) {
  .TooltipPopup__container {
    margin: 56px auto;
    max-height: 128px;
  }
}