.TooltipPopup__link {
  max-width: 228px;
  max-height: 18px;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  background-color: #ffffff;
  color: #2F71E5;
  text-align: start;
}

.TooltipPopup__link:hover{
  opacity: .8;
}