.Preloader__figure-tail{
  position: absolute;
  top: 69px;
  left: 59px;
  width: 24px;
  border: 1px solid #D1D2D6;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}