@font-face {
  font-family: 'Roboto Slab';
  src: url('../../../../vendor/fonts/robotoslab-regular.woff') format('woff');
}

.NewsCardList__title{
  font-family: 'Roboto Slab', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  color: #1A1B22;
  margin: 18px 0 64px;
}

@media (max-width: 768px) {
  .NewsCardList__title{
    font-size: 30px;
    line-height: 34px;
    margin: 0 auto 32px 0;
  }
}

@media (max-width: 400px) {
  .NewsCardList__title{
    margin: 8px auto 24px 0;
  }
}