.PopupWithForm__subsidiary-text{
  align-self: center;
  max-width: 226px;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-decoration: none;
  padding: 0;
}