.SearchForm__input{
  margin: auto;
  margin-top: 64px;
  margin-bottom: 80px;
  padding: 21px;
  padding-left: 24px;
  padding-right: 40px;
  background: #FFFFFF;
  border: 1px solid #D1D2D6;
  box-sizing: border-box;
  backdrop-filter: blur(8px);
  border-radius: 100px;
}