.App__background-image{
  background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('../../../images/82f1206f112335e2ee4d938ba64f02d6-min.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top, -13vw;
}