.NewsCard__title{
  margin: 12px auto 0 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 115%;
  color: #1A1B22;
}

@media (max-width: 1120px) {
  .NewsCard__title{
    font-size: 22px;
    line-height: 24px;
  }
}

@media (max-width: 1020px) {
  .NewsCard__title{
    word-break: break-word;
    margin-right: 24px;
  }
}

@media (max-width: 768px) {
  .NewsCard__title{
    margin: 0 16px 10px;
    max-height: 72px;
  }
}

@media (max-width: 400px) {
  .NewsCard__title{
    line-height: 26px;
    max-height: 78px;
  }
}