.NewsCard__title{
  margin: 12px auto 0 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 115%;
  color: #1A1B22;
}

@media (max-width: 1120px) {
  .NewsCard__title{
    font-size: 22px;
    line-height: 24px;
    word-break: break-word;
  }
}

@media (max-width: 1089px) {
  .NewsCard__title{
    height: 72px;
  }
}

@media (max-width: 894px) {
  .NewsCard__title{
    margin: 0 16px;
    height: 96px;
  }
}

@media (max-width: 846px) {
  .NewsCard__title{
    height: 120px;
  }
}
/*
@media (max-width: 800px) {
  .NewsCard__title{
    height: 140px;
  }
}*/

@media (max-width: 768px) {
  .NewsCard__title{
    height: 72px;
  }
}

@media (max-width: 555px) {
  .NewsCard__title{
    margin: 12px auto 0 24px;
    font-size: 26px;
    line-height: 30px;
  }
}

@media (max-width: 443px) {
  .NewsCard__title{
    height: 98px;
  }
}

@media (max-width: 400px) {
  .NewsCard__title{
    max-height: 78px;
    margin: 0 16px;
    line-height: 26px;
  }
}

@media (max-width: 325px) {
  .NewsCard__title{
    max-height: 52px;
    font-size: 22px;
    line-height: 26px;
  }
}