.PopupWithForm__input {
  margin-bottom: 30px;
  margin-top: 9px;
  max-width: 358px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding: 0;
  padding-bottom: 9px;
  border: none;
  border-bottom: 1px solid;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}
/*
.PopupWithForm__input:focus {
  background-color: #ffffff;
}*/
/*
@media (max-width: 904px) {
  .signform__input {
    margin-top: 30px;
  }
}

@media (max-width: 358px) {
  .signform__input {
    font-size: 14px;
    line-height: 17px;
  }
}*/