.About__title{
  grid-area: title;
  max-width: 100%;
  margin: 0;
  padding-top: 51px;
  font-family: 'Roboto Slab', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 115%;
  color: #1A1B22;
}