.About__title{
  grid-area: title;
  max-width: 100%;
  margin: 0;
  padding-top: 51px;
  font-family: 'Roboto Slab', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 115%;
  color: #1A1B22;
}

@media (max-width: 900px) {
  .About__title{
    padding-top: 0;
    font-size: 30px;
    line-height: 40px;
  }
}

@media (max-width: 500px) {
  .About__title{
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 16px;
  }
}

@media (max-width: 400px) {
  .About__title{
    font-size: 30px;
    line-height: 40px;
    margin-top: 24px;
    margin-bottom: 16px;
  }
}