@font-face {
  font-family: 'Roboto';
  src: url('../../vendor/fonts/roboto-regular.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  src: url('../../vendor/fonts/inter-regular.woff') format('woff');
}

.PopupWithForm{
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .2s, visibility 0s linear .3s;
  -o-transition: opacity .2s, visibility 0s linear .3s;
  transition: opacity .2s, visibility 0s linear .3s;
}