@font-face {
  font-family: 'Roboto';
  src: url('../../vendor/fonts/roboto-regular.woff') format('woff');
}
.NewsCardPanel{
  position: absolute;
  padding: 24px;
  display: flex;
  flex-direction: row-reverse;
  width: 352px;
  z-index: 2;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #000000;
}

@media (max-width: 768px) {
  .NewsCardPanel{
    padding: 8px;
    width: 208px;
  }
}

@media (max-width: 400px) {
  .NewsCardPanel{
    padding: 16px;
    width: 256px;
  }
}