@font-face {
  font-family: 'Roboto';
  src: url('../../vendor/fonts/roboto-regular.woff') format('woff');
}
.NewsCardPanel{
  position: absolute;
  z-index: 2;
  width: calc(100% - 48px);
  padding: 24px;
  display: flex;
  flex-direction: row-reverse;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #000000;
}

@media (max-width: 768px) {
  .NewsCardPanel{
    width: calc(100% - 16px);
    padding: 8px;
  }
}

@media (max-width: 400px) {
  .NewsCardPanel{
    width: calc(100% - 32px);
    padding: 16px;
  }
}