@font-face {
  font-family: 'Roboto';
  src: url('../../vendor/fonts/roboto-regular.woff') format('woff');
}
@font-face {
  font-family: 'Roboto Slab';
  src: url('../../vendor/fonts/robotoslab-regular.woff') format('woff');
}

.About{
  margin-top: 80px;
  display: grid;
  grid-template-columns: 464px 56px 600px;
  grid-template-rows: 100px 1fr;
  grid-template-areas:
      "avatar . title"
      "avatar . text";
  padding: 0 216px 80px 104px;
  background-color: #ffffff;
}

@media (max-width: 768px) {
  .About{
    margin-top: 0;
    padding: 29px 40px 61px;
    grid-template-columns: 232px 32px 424px;
    grid-template-rows: 34px 1fr;
  }
}

@media (max-width: 400px) {
  .About{
    padding: 32px 16px 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}