.Navigation{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

@media (max-width: 900px) {
  .Navigation{
    font-size: 16px;
  }
}

@media (max-width: 610px) {
  .Navigation{
    position: absolute;
    top: 56px;
    left: 0;
    width: calc(100% - 32px);
    padding: 16px;
    flex-direction: column;
    justify-content: start;
    font-size: 16px;
    background-color: #1A1B22;
  }
}