.PopupWithForm__subsidiary-text{
  align-self: center;
  max-width: 226px;
  margin-top: 16px;
  margin-bottom: 28px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}