.NewsCardPanel__keyword{
  padding: 8px 16px;
  margin: 0;
  border: 0px solid #ffffff;
  border-radius: 10px;
  background-color: #ffffff;
  font-size: 14px;
  line-height: 24px;
}

@media (max-width: 768px) {
  .NewsCardPanel__keyword{
    padding: 7px 12px;
  }
}