.NewsCardPanel__button_save{
  background-image: url('../../../../../images/save-norm-min.png');
  background-size: 14px;
}

.NewsCardPanel__button_save:hover{
  background-image: url('../../../../../images/save-hover-min.png');
}
