.PopupWithForm__container {
  position: relative;
  z-index: 2;
  width: 358px;
  max-height: 395px;
  padding: 34px 36px 28px;
  margin: auto;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  background-color: #FFFFFF;
}

@media (max-width: 430px) {
  .PopupWithForm__container {
    margin: 56px auto auto;
  }
}

@media (max-width: 400px) {
  .PopupWithForm__container {
    width: 100%;
    max-height: 3000px;
    height: calc(100% - 56px);
    padding: 16px;
  }
}