@font-face {
  font-family: 'Roboto';
  src: url('../../vendor/fonts/roboto-regular.woff') format('woff');
}

@font-face {
  font-family: 'Roboto Slab';
  src: url('../../vendor/fonts/robotoslab-regular.woff') format('woff');
}

.SearchForm{
  max-width: 608px;
  margin: auto;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .SearchForm{
    max-width: 452px;
    margin-top: 38px;
  }
}

@media (max-width: 400px) {
  .SearchForm{
    max-width: 288px;
    margin: 0;
    padding: 30px 16px 32px;
    height: 418px;
  }
}