@font-face {
  font-family: 'Source Sans Pro';
  src: url('../../../vendor/fonts/sourcesanspro-regular.woff') format('woff');
}

.NewsCard__date{
  margin: 20px auto 0 24px;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #B6BCBF;
}