@font-face {
  font-family: 'Roboto';
  src: url('../../../../vendor/fonts/roboto-regular.woff') format('woff');
}

.SavedNewsHeader__caption{
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: rgba(26, 27, 34, 0.5);
}

@media (max-width: 768px) {
  .SavedNewsHeader__caption{
    font-size: 14px;
    line-height: 24px;
  }
}