.NewsCardList__button{
  border-radius: 80px;
  border: none;
  background-color: #ffffff;
  padding: 18px 84px 22px;
  margin: 64px auto 18px;
}

@media (max-width: 768px) {
  .NewsCardList__button{
    padding: 15px 60px 17px;
    margin: 32px auto 0;
  }
}