.Footer__social-link{
  max-width: 20px;
  max-height: 20px;
  margin: 0;
  margin-left: 28px;
}

@media (max-width: 768px) {
  .Footer__social-link{
    margin-left: 20px;
    padding: 2px 0 0;
  }
}