@font-face {
  font-family: 'Roboto';
  src: url('../../../../vendor/fonts/roboto-regular.woff') format('woff');
}

.NewsCard__text{
  margin: 16px 24px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 137%;
  color: #1A1B22;
}