@font-face {
  font-family: 'Roboto';
  src: url('../../vendor/fonts/roboto-regular.woff') format('woff');
}
@font-face {
  font-family: 'Roboto Slab';
  src: url('../../vendor/fonts/robotoslab-regular.woff') format('woff');
}

.Footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-height: 80px;
  padding: 0 104px;
  position: relative;
}

@media (max-width: 768px) {
  .Footer{
    max-height: 64px;
    padding: 21px 40px 18px;
  }
}

@media (max-width: 400px) {
  .Footer{
    flex-direction: column-reverse;
    max-height: 176px;
    padding: 20px 16px 22px;
    align-items: flex-start;
  }
}