.Header__mobile-menu{
  width: 24px;
  height: 24px;
  padding: 0;
  -ms-flex-item-align: end;
      align-self: flex-end;
  border: none;
  background-image: url('../../../../images/mob_nav.png');
  background-color: transparent;
  background-repeat: no-repeat;
}