.SearchForm__form{
  width: 100%;
  position: relative;
  margin: auto;
  margin-top: 64px;
  margin-bottom: 80px;
}

@media (max-width: 768px) {
  .SearchForm__form{
    max-height: 56px;
    margin: 48px auto;
  }
}

@media (max-width: 400px) {
  .SearchForm__form{
    max-height: 56px;
    margin: 122px 0 0;
    display: flex;
    flex-direction: column;
  }
}