.SearchForm__form{
  position: relative;
  width: 100%;
  margin: auto;
  margin-top: 64px;
  margin-bottom: 80px;
}

@media (max-width: 768px) {
  .SearchForm__form{
    max-height: 56px;
    margin: 48px auto;
  }
}

@media (max-width: 400px) {
  .SearchForm__form{
    max-height: 56px;
    margin: 122px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}