.NewsCardList{
  padding: 62px 104px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #F5F6F7;
}

@media (max-width: 768px) {
  .NewsCardList{
    padding: 40px;
  }
}

@media (max-width: 767px) {
  .NewsCardList{
    padding: 40px 104px;
  }
}

@media (max-width: 666px) {
  .NewsCardList{
    padding: 40px;
  }
}

@media (max-width: 400px) {
  .NewsCardList{
    padding: 24px 16px;
  }
}