.NewsCardPanel__tooltip{
  visibility: hidden;
  justify-self: right;
  margin: 0;
  margin-right: 5px;
  margin-left: auto;
  font-size: 10px;
  line-height: 12px;
  padding: 16px 0;
  border: none;
  border-radius: 10px;
  background-color: #ffffff;
  width: 182px;
  height: 8px;
  text-align: center;
}

@media (max-width: 768px) {
  .NewsCardPanel__tooltip{
    position: absolute;
    width: 163px;
    margin-right: 0;
    right: 53px;
  }
}