.About__avatar{
  border-radius: 100%;
  grid-area: avatar;
  width: 464px;
}

@media (max-width: 900px) {
  .About__avatar{
    margin-top: 32px;
    width: 232px;
  }
}

@media (max-width: 500px) {
  .About__avatar{
    width: 40vw;
  }
}

@media (max-width: 400px) {
  .About__avatar{
    margin-top: 0;
    width: 272px;
    align-self: center;
  }
}