@font-face {
  font-family: 'Roboto';
  src: url('../../../vendor/fonts/roboto-regular.woff') format('woff');
}

.Preloader__text{
  margin-bottom: 80px;
  margin-top: 24px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #B6BCBF;
}