@font-face {
  font-family: 'Roboto Slab';
  src: url('../../vendor/fonts/robotoslab-regular.woff') format('woff');
}

.NewsCard{
  display: flex;
  flex-direction: column;
  max-width: 400px;
  max-height: 576px;
  border-radius: 5px 5px 0px 0px;
  background-color: #ffffff;
  cursor: pointer;
}

@media (max-width: 768px) {
  .NewsCard{
    max-width: 224px;
    max-height: 420px;
    border-radius: 16px;
  }
}

@media (max-width: 400px) {
  .NewsCard{
    max-width: 288px;
    max-height: 440px;
    border-radius: 16px;
  }
}