@font-face {
  font-family: 'Roboto Slab';
  src: url('../../vendor/fonts/robotoslab-regular.woff') format('woff');
}

.NewsCard{
  position: relative;
  max-width: calc((100vw - 240px) / 3);
  max-height: 576px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 16px;
  background-color: #ffffff;
  cursor: pointer;
}

@media (max-width: 1435px) {
  .NewsCard{
    max-height: 600px;
  }
}

@media (max-width: 1244px) {
  .NewsCard{
    max-height: 620px;
  }
}

@media (max-width: 1000px) {
  .NewsCard{
    max-width: calc((100vw - 224px) / 3);
  }
}

@media (max-width: 768px) {
  .NewsCard{
    max-width: calc((100vw - 96px) / 3);
  }
}

@media (max-width: 767px) {
  .NewsCard{
    max-width: calc((100vw - 88px) / 2);
  }
}

@media (max-width: 555px) {
  .NewsCard{
    max-width: 100%;
  }
}