.Preloader__rotator{
	width: 72px;
	height: 72px;
  margin: 0;
	border: 1px solid #1A1B22;
	border-bottom-color: #D1D2D6;
	border-radius: 50%;
	-webkit-animation: spin .75s infinite linear;
	        animation: spin .75s infinite linear;
}

@-webkit-keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
		        transform: rotate(360deg);
	}
}

@keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
		        transform: rotate(360deg);
	}
}